-# Handcrafted by Aydar N.
-# 2023
-#
-# me@aydar.media
-#

%footer
	.menu
		- %w[a b c].each do |i|
			%div
				%h2= t ".#{i}.title"
				- %w[a b c].each do |j|
					%h3{class: %w[spacing low]}= t ".#{i}.items.#{j}"
	%a{href: root_path}
		= image_tag 'logo.svg'
	.copyright
		%a.spacing{href: 'https://aydar.media'}
			%h2= 'aydar.media'
		%h2= '2023'
