-# Handcrafted by Aydar N.
-# 2023
-#
-# me@aydar.media
-#

.title
	.content
		= render 'blocks/button', title: 'На главную', link: root_path, show_arrow: true
		.text
			%h1= t '.title'
.grid
	- 12.times do |i|
		%a
			= image_tag "posters/#{i}.png"
			%div
				%h3= 'Давит время?'
				%h2= 'Лекция / 20.04.2023'
