-# Handcrafted by Aydar N.
-# 2023
-#
-# me@aydar.media
-#

.title
	.content
		= render 'blocks/button', title: 'english', link: nil, show_arrow: true
		.text
			%h1= t '.title'
			%p= t '.subtitle'
.news.white-block
	- %w[a b c].each do |i|
		%div
			%div
				%h3= t ".news.#{i}.title"
				%p= t ".news.#{i}.body"
				= render 'blocks/button', title: t(".news.#{i}.button"), link: nil, show_arrow: true
			= image_tag t(".news.#{i}.image")
.mailing-list
	%h1= t '.mailing.title'
	.white-block
		%input{ type: 'text', placeholder: t('.mailing.address') }
			%h2.button= t '.mailing.sub'
