-# Handcrafted by Aydar N.
-# 2023
-#
-# me@aydar.media
-#

.title
	.content
		= render 'blocks/button', title: 'english', link: nil, show_arrow: true
		.text
			%h1= explode_span t('.title'), 'stretching'
			%p= t '.subtitle'
.news.white-block
	- 3.times do |i|
		%div
			%div
				%h3= t ".news.#{i}.title"
				%p= t ".news.#{i}.body"
				= render 'blocks/button', title: t(".news.#{i}.button"), link: nil, show_arrow: true
			= image_tag 'news/1.png'
.mailing-list
	%h1= explode_span t('.mailing.title'), 'stretching'
	.white-block
		%input{ type: 'text', placeholder: t('.mailing.address') }
			-# %h2.button= t '.mailing.sub'
			= render 'blocks/button', title: t('.mailing.sub'), link: nil, show_arrow: false
