<nav>
	<div>
		<%= image_tag 'c.svg' %>
		<h2>Model a</h2>
	</div>
	<div>
		<%= image_tag 'k.svg' %>
		<h2>Store</h2>
	</div>
	<div>
		<%= image_tag 'i.svg' %>
		<h2>Space</h2>
	</div>
	<div>
		<%= image_tag 'p.svg' %>
		<h2>Events</h2>
	</div>
</nav>
<div>
	<div class="title">
		<h1>Время<br>менять время</h1>
		<p>Скип меняет представление о привычном устройстве мира, адаптируя время под персональные нужды</p>
		<div class="button">
			<h2>english</h2>
			<%= image_tag 'arrow.svg' %>
		</div>
	</div>
	<div class="news white-block">
		<div>
			<div>
				<h3>Model A: <br>How It’s Made&nbsp;</h3>
				<p></p>
				<div class="button">
					<h2>english</h2>
					<%= image_tag 'arrow.svg' %>
				</div>
			</div>
			<%= image_tag 'n01.png' %>
		</div>
		<div>
			<div>
				<h3>Model A: <br>How It’s Made&nbsp;</h3>
				<p>Узнайте, какой путь мы преодолели, чтобы создать самое технически-сложное устройство столетия</p>
				<div class="button">
					<h2>english</h2>
					<%= image_tag 'arrow.svg' %>
				</div>
			</div>
			<%= image_tag 'n01.png' %>
		</div>
		<div>
			<div>
				<h3>Model A: <br>How It’s Made&nbsp;</h3>
				<p>Узнайте, какой путь мы преодолели, чтобы создать самое технически-сложное устройство столетия</p>
				<div class="button">
					<h2>english</h2>
					<%= image_tag 'arrow.svg' %>
				</div>
			</div>
			<%= image_tag 'n01.png' %>
		</div>
	</div>
	<div class="mailing-list">
		<h1>Рассылка</h1>
		<div class="white-block"><input type="text" placeholder="адрес e-mail">
			<h2 class="button">подписаться</h2>
		</div>
	</div>
</div>
<footer>
	<div class="menu">
		<div>
			<h2>Contact</h2>
			<h3>Behance</h3>
			<h3>Telegram</h3>
			<h3>E-mail</h3>
		</div>
		<div>
			<h2>Info</h2>
			<h3>Press-center</h3>
			<h3>Business</h3>
			<h3>Work at Skip</h3>
		</div>
		<div>
			<h2>Retail</h2>
			<h3>Support</h3>
			<h3>Where to buy</h3>
			<h3>Warranty</h3>
		</div>
	</div>
	<%= image_tag 'logo.svg' %>
	<div class="copyright">
		<h2>aydar.media</h2>
		<h2>2023</h2>
	</div>
</footer>
