-# Handcrafted by Aydar N.
-# 2023
-#
-# me@aydar.media
-#

= render 'blocks/title',
	button_title: t('global.to_home'),
	button_arrow: false,
	button_link: root_url,
	title: t('.title_html'),
	subtitle: t('.subtitle')
.youtube.hide-cursor
	!= '<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/oZuZMOIzRis" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>'
.white-block.note.unequal
	%p= t '.description'
= render 'blocks/list',
	quantity: 5,
	title: "pages.space.highlights.<index>.title",
	subtitle: "pages.space.highlights.<index>.body",
	button_title: "pages.space.highlights.<index>.button",
	button_links: [nil, nil, 'https://www.calameo.com/books/007318307190a43dc1447', 'https://mot.aydar.media', 'https://aydar.media/skip/space/tour'],
	image: 'space/<index>.jpg'
.form.multiline
	%h1= explode_span t('.form.title'), 'stretching'
	.white-block.unequal
		%div
			%input{ type: 'text', placeholder: t(".form.placeholders.0") }
			%input{ type: 'text', placeholder: t(".form.placeholders.1") }
		%input{ type: 'text', placeholder: t(".form.placeholders.2") }
		= render 'blocks/button', title: t('.form.submit'), link: nil, show_arrow: false, alert: t('.form.alert')
