<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>SKIP</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="<%= action_name.gsub('_', '-') %>">
    <%= render partial: 'blocks/cursor' %>
    <%= render partial: 'blocks/alert' %>
    <%= render partial: 'blocks/menu' %>
    <div>
      <div class="container">
        <%= yield %>
      </div>
    </div>
    <%= render partial: 'blocks/footer' %>
  </body>
</html>
