<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>SKIP</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render partial: 'blocks/menu' %>
    <div>
      <%= yield %>
    </div>
    <%= render partial: 'blocks/footer' %>
  </body>
</html>
